{
  "extends": [
    "eslint:recommended",
    "google",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:compat/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "no-unused-vars": [
      2,
      {
        "args": "after-used",
        "argsIgnorePattern": "^opt_",
        "varsIgnorePattern": "_unused$"
      }
    ],
    "no-console": 0,
    "camelcase": [0, { "properties": "never" }],
    "new-cap": [
      2,
      {
        "newIsCapExceptions": []
      }
    ],
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off"
  },
  "env": {
    "browser": true,
    "node": true,
    "es2022": true,
    "serviceworker": true
  },
  "globals": {
    "DEVMODE": false,
    "VERSION": false,
    "chrome": true,
    "globalThis": false,
    "serviceWorkerOption": true,
    "window": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "overrides": [
    {
      "files": ["**/*_test.js"],
      "env": {
        "browser": true,
        "node": true,
        "es2020": true,
        "jasmine": true,
        "serviceworker": true
      }
    },
    {
      "files": ["build/**/*.js"],
      "rules": {
        "@typescript-eslint/camelcase": "off"
      }
    },
    {
      "files": ["src/usr/bin/*.js"],
      "rules": {
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": "off"
      }
    },
    {
      "files": ["*.ts", "*.tsx"],
      "rules": {
        "@typescript-eslint/explicit-function-return-type": ["error"],
        "@typescript-eslint/explicit-module-boundary-types": ["error"]
      }
    }
  ]
}
