{
  'root': true,
  'extends': ['eslint:recommended', 'google'],
  'rules': {
    'no-unused-vars': [2, {
      'args': 'after-used',
      'argsIgnorePattern': '^opt_',
      'varsIgnorePattern':'_unused$'
    }],
    'no-console': 0,
    'camelcase': [0, {properties: 'never'}],
    'new-cap': [2, {
      'newIsCapExceptions': ['instance', 'command_profile', 'fileConfig.file',
        'CodeMirror.fold.combine']
    }],
  },
  'env': {
    browser: true,
    node: true,
    es6: true
  },
  'globals': {
    '$': true,
    'Blockly': true,
    'CodeMirror': true,
    'Locales': true,
    'Shepherd': true,
    'Sk': true,
    'afterEach': true,
    'beforeEach': true,
    'chrome': true,
    'cwc': true,
    'describe': true,
    'expect': true,
    'game': true,
    'getTestBlockCode': true,
    'getTestBuffer': true,
    'goog': true,
    'i18soy': true,
    'i18t': true,
    'it': true,
    'soydata': true,
    'var_args': true
  }
}
