[submodule "third_party/phaser-ce"]
	path = third_party/phaser-ce
	url = https://github.com/photonstorm/phaser-ce.git
[submodule "third_party/phaser"]
	path = third_party/phaser
	url = https://github.com/photonstorm/phaser
