sudo: required
dist: trusty

env:
  global:
    - CC_TEST_REPORTER_ID=3a5781304501fa155113318fe462edcfeec41bb98acb845e7e3b88cf49dd0010

language: node_js

node_js:
  - stable

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable

before_install:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build

script:
  - unset _JAVA_OPTIONS
  - npm test

after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT -d
