/**
 * @fileoverview Layout for the TTS (Text To Speech) manipulaltion.
 *
 * @author: mbordihn@google.com (Markus Bordihn)
 */
{namespace cwc.soy.mode.TTS autoescape="strict"}


/**
 * Editor template.
 */
{template .editor}
  {@param prefix: string}
  <div id="{$prefix}editor-chrome"></div>
{/template}
